<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>铺侦探经纪人</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxcb4a3da46de63809</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>jiguang</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>jiguang-5db7235974fbb29c3949d178</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>9</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODEPUSH_KEY)</string>
	<key>CodePushServerURL</key>
	<string>https://update.puzhentan.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>wechat</string>
		<string>weixin</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>qqmap</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>播放宣讲音频</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>蓝牙传送图片</string>
	<key>NSCalendarsUsageDescription</key>
	<string>日程安排</string>
	<key>NSCameraUsageDescription</key>
	<string>请允许铺侦探访问您的相机</string>
	<key>NSContactsUsageDescription</key>
	<string>读取联系人直接添加为客户</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>获取当前位置并记录</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>获取当前位置并记录</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>语音搜索房源信息</string>
	<key>NSMotionUsageDescription</key>
	<string>轨迹</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>请允许铺侦探访问您的蓝牙</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>请允许铺侦探保存图片到相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>请允许铺侦探访问您的相册</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>带盘轨迹</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
